html, body{
	padding: 0;
	margin: 0;
	background-color: #333;
}
button{
	position: relative;
	overflow: hidden;
	font-size: 24px;
	padding: 1em 2em;
	margin: 3px;
	border: 0px;
	outline: 0;
	color: #fff;
	background-color: #2196F3;
	border-radius: 0.15em;
	box-shadow: 0 0 8px rgba(0,0,0, 0.3);
}
#button1, #button2{
	margin-top: 10%;
	margin-left: 10%;
}